html,body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

/*nav men*/
header{
	height:10%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height:100%;
}

.headLi {
    float: left;
    height:100%;
    width: 14%;
}

@media (min-height:800px){
	.headLi{
		height:80px;
	}
}

.headLi a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    height:100%;
    width:100%;
}

.headLi a:hover {
    background-color: #111;
}
#currentPage{
	width:72%;
	height:100%;
}

div{
	float:left;
	width:100%;
	height:100%;
}

li h2{
	position: relative;
	top: 25%;
	transform: translateY(-25%);
	-webkit-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
}

/* map*/
#village{
	width:100%;
}
