/****************************************************************
  docking boxes core CSS: YOU MUST NOT CHANGE OR OVERRIDE THESE 
*****************************************************************/
.dbx-clone {
	position:absolute;
	visibility:hidden;
	}
.dbx-clone, 
.dbx-clone .dbx-handle-cursor {
	cursor:move !important;
	}
.dbx-dummy {
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	margin:0 !important;
	padding:0 !important;
	}
.dbx-group, .dbx-box, .dbx-handle {
	position:relative;
	display:block;
	}
/****************************************************************
  avoid padding, margins or borders on dbx-box, 
  to reduce visual discrepancies between it and the clone.  
  overall, dbx-box is best left as visually unstyled as possible 
*****************************************************************/
.dbx-box {
	margin:0;
	padding:0;
	border:none;
	}



/****************************************************************
  otherwise, do what you like :) 
*****************************************************************/



/* bag header */
#bookshelves-header
{
	margin:0 0 -8px 0;
	padding:0;
	width:710px;
	border-top:2px ridge #421100;
	border-left:3px ridge #6d2e16;
	border-right:3px ridge #6d2e16;
}

#bookshelves-header img
{
	border:none;
}

/* group container(s) */
#bookshelves {
	width:700px;
	height:459px;
	background:url(/*images/shelf.jpg*/) gray repeat 0 9px;
	padding:0 0 0 10px;
	margin:0 0 20px 0;
	border-left:3px ridge #6d2e16;
	border-right:3px ridge #6d2e16;
	border-bottom:2px ridge #421100;
	}
/* boxes */
.dbx-box {
	float:left;
	}
	
.dbx-box span {
	float:left;
	width:100px;
	height:100px;
	margin:18px 9px 1px 0;
	border:1px solid;
	background-color:red;
	}
	
.dbx-box span a, .dbx-box span a:visited
{
	color:#fff;
	font:normal normal normal 0.9em tahoma,sans-serif;
}
	


/* box when it has the focus */
.dbx-box-focus span {
	border-color:#00f;
	outline:2px solid #f60;
	}
	
	
/* + boxes that cannot be grabbed */
.dbx-nograb span
{
	border:none;
	width:100px;
	height:100px;
}
/* handles */
.dbx-handle {
	height:100px;
	}

.dbx-handle img {
	border:none;
	}
/* keyboard navigation tooltip */
.dbx-tooltip {
	margin:15px 0 0 105px;
	width:120px;
	
	display:block;
	position:absolute;
	border:1px solid InfoText;
	background:InfoBackground;
	color:InfoText;
	font:small-caption;
	font-weight:normal;
	padding:2px 4px 3px 5px;
	text-align:left;
	}

/* hacks for IE6 */
* html .dbx-tooltip {
	font-weight:normal !important;
	}
	
* html .dbx-box {
	height:150px;
	overflow:hidden;
	}
			
* html .dbx-box span {
	border:none;
	}